@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

/* Global settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Add custom scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: antiquewhite;
}

::-webkit-scrollbar-thumb {
    background: green;
}

::-webkit-scrollbar-thumb:hover {
    background: yellow;
}

a {
    text-decoration: none;
}

/* Style Body*/
body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

/* set the body of the game background color */
#game-body {
    background: black;
}

/* Style sub headings */
h2,
h3 {
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}

/* set font and margins on main page for body text */
.info-text {
    margin: 20px;
    font-size: 20px;
}

/* Set rules of ordered and unorderd lists */
ol,
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    line-height: 25px;
}

/* Style list contents */
li {
    margin-bottom: 2px;
    font-size: 18px;
}

/* Style nav bar */
#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    border-bottom: 2px solid antiquewhite;
    background: yellow;
    font-family: 'Bungee Shade', cursive;
    z-index: 1;
    flex-wrap: wrap;
    font-size: 2em;
}

/* Style display text on main page */
.index-main {
    background: black;
    color: antiquewhite;
    height: 100%;
    width: 100%;
}

/* Set paramaters to display text on main page */
.rules-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 125px;
}

/* Style enter anchor tag*/
.enter-main-page {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    border: 3px solid yellow;
    border-radius: 50px;
    font-size: 30px;
    padding: 6px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: #5E5DF0 0 10px 50px -10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/* style game container */
#game-container {
    display: flex;
    width: 45vh;
    border-style: solid;
    margin-top: 100px;
    flex-direction: column;
    height: 650px;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
    margin-bottom: 50px;
}

/*style screen for game */
#game-display-screen {
    display: flex;
    width: 100%;
    height: 35%;
    background: black;
    color: antiquewhite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* style heading for setting difficulty */
#difficulty-heading {
    color: antiquewhite;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin-top: 10px;
}

/* style control station */
#btn-container {
    display: flex;
    width: 100%;
    height: 65%;
    background: antiquewhite;
    flex-direction: column;
}

/* style ScoreBoard*/
#score-board {
    margin-top: 10px;
    display: flex;
    width: inherit;
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
}

/* add space to score board paragrahs */
.score-board-p {
    margin-bottom: 10px;
}

/* Create space for last user input button and bottom of container */
#spock-container {
    margin-bottom: 15px;
}

/* style button display */
.buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: 2px solid black;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
    background: black;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
}

/* Style text dispayed during game */
.game-display-text {
    margin: 10px;
    font-size: 80%;
    font-family: 'Press Start 2P', cursive;
}

/* Style Reset Btn */
.reset-and-rule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.reset-btn button {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
    color: yellow;
    height: 25px;
    cursor: pointer;
}

/* Style start game button or best 3,5,7 buttons */
.start-game button {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
    color: yellow;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: #5E5DF0 0 10px 50px -10px;
    box-sizing: border-box;
}

.start-game {
    border: 2px solid antiquewhite;
    margin-top: 5px;
}

/* Create space for top user button from top of container */
#rock-container {
    margin-top: 10px;
}

/* Style return to main page button */
.rule-btn {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    color: antiquewhite;
    background: black;
    box-shadow: #5E5DF0 0 10px 50px -10px;
    box-sizing: border-box;
    height: 25px;
}

.rule-btn a {
    color: yellow;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
}

/* add transitions on hoover to all achor tags and button elements */

a {
    transition: all .2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

button {
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

.rule-btn {
    transition: all .2s ease-in-out;
}

.rule-btn:hover {
    transform: scale(1.1);
}

/* Style Footer */
.footer {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    font-family: 'Bungee Shade', cursive;
    background: yellow;
    font-size: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: black;
}

/* Create Media Quries for responsice design */

@media screen and (max-width: 894px) {
    #nav-bar {
        font-size: 30px;
    }
}

@media screen and (max-width: 838px) {
    #nav-bar {
        font-size: 25px;
    }
}

@media screen and (max-width: 698px) {
    #nav-bar {
        font-size: 20px;
    }
}

@media screen and (max-width: 559px) {
    #nav-bar {
        font-size: 15px;
    }
}

@media screen and (max-width: 419px) {
    #nav-bar {
        font-size: 12px;
    }
}

@media screen and (max-width: 335px) {
    #nav-bar {
        font-size: 10px;
    }
}

@media screen and (max-width: 335px) {
    #game-container {
        float: left;
    }
}