@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Press+Start+2P&display=swap');

/* Global settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    height: 1200px;
    flex-wrap: wrap;
}

#game-body {
    background: black;
}

h2,
h3 {
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}

.info-text {
    margin: 20px;
    font-size: 20px;
}

ol,
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    line-height: 25px;

}

li {
    margin-bottom: 2px;
    font-size: 18px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 0;
    width: 100%;
    border-bottom: 2px solid antiquewhite;
    background: yellow;
    font-family: 'Bungee Shade', cursive;
    z-index: 1;
    flex-wrap: wrap;
    font-size: 2em;
}

.index-main {
    background: black;
    color: antiquewhite;
    height: 100%;
    width: 100%;
}

.rules-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 125px;
}

.enter-main-page {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    border: 3px solid yellow;
    border-radius: 50px;
    font-size: 30px;
    padding: 6px;
    text-decoration: none;
    margin-top: 20px;
}

/* style game container */
#game-container {
    display: flex;
    width: 45vh;
    border-style: solid;
    margin-top: 100px;
    flex-direction: column;
    height: 600px;
    border-radius: 8px;
    box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
    box-sizing: border-box;
}

/*style screen for game */
#game-display-screen {
    display: flex;
    width: 100%;
    height: 35%;
    background: black;
    color: antiquewhite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* control station */
#btn-container {
    display: flex;
    width: 100%;
    height: 65%;
    background: antiquewhite;
    flex-direction: column;
}

/*ScoreBoard*/
#score-board {
    margin-top: 10px;
    display: flex;
    width: inherit;
    font-family: 'Press Start 2P', cursive;
    font-size: 80%;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;

}

/* button display */
.buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    border: 2px solid black;
    font-size: 12px;
    cursor: pointer;
    margin: 2px;
    background: black;
}

.game-display-text {
    margin: 10px;
    font-size: 80%;
    font-family: 'Press Start 2P', cursive;
}

.reset-and-rule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.reset-btn button {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
    color: yellow;
    height: 25px;
    cursor: pointer;
}

.start-game button {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    background: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
    color: yellow;
    height: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

#rock-container {
    margin-top: 10px;
}

.rule-btn {
    border: 2px solid yellow;
    border-radius: 12px;
    width: 100px;
    color: antiquewhite;
    background: black;
}

.rule-btn a {
    color: yellow;
    font-family: 'Press Start 2P', cursive;
    font-size: 08px;
}


.footer {
    flex-shrink: 0;
}

@media screen and (max-width: 894px) {
    #nav-bar {
        font-size: 30px;
    }
}

@media screen and (max-width: 838px) {
    #nav-bar {
        font-size: 25px;
    }
}

@media screen and (max-width: 698px) {
    #nav-bar {
        font-size: 20px;
    }
}

@media screen and (max-width: 559px) {
    #nav-bar {
        font-size: 15px;
    }
}

@media screen and (max-width: 419px) {
    #nav-bar {
        font-size: 12px;
    }
}

@media screen and (max-width: 335px) {
    #nav-bar {
        font-size: 10px;
    }
}

@media screen and (max-width: 335px) {
    #game-container {
        float: left;
    }
}